<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
   <h1>This is a demo page</h1> 

   <div class="bigbox">
    <div class="box">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, quidem facere quaerat commodi exercitationem asperiores, porro sint consequuntur, deleniti alias blanditiis deserunt iusto dolorum obcaecati nisi similique eum dolores voluptatibus.
        Unde, id perspiciatis asperiores dolores iure repellendus laudantium voluptas quia! Sequi obcaecati hic facilis iure. Ullam, beatae omnis corrupti culpa quia itaque praesentium, doloribus officiis hic et cupiditate ipsum reprehenderit?
        Dolores quasi nulla esse officiis dolor reiciendis laboriosam quae optio commodi, nemo aspernatur consectetur quam consequuntur ab doloribus minima corporis voluptatibus veniam alias nam ipsa! Dolores asperiores tempore molestiae dolorum?
       </div>
   </div>

</body>

</html>