body{
    background-color: rgb(56, 171, 142);
    text-align: center;
    
}

.bigbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box{
    border:1px solid blue;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(120, 189, 189);
    width: 50vw;
}